.menu-category{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.product-card{
    display: flex;
    margin: 10px;

}



.menu-container{
    padding: 5px;
    margin: 5px;
}

.menu-category{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction:column;
}