.menu-search-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.menu-search-header-left{
    
}

.menu-search-header-mid{
}

.menu-search-header-right{
}