.menu-search-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

#simple-popup{
  margin: auto;
  width: 50%;
  padding: 10px; 
}

.check-out-list{
    list-style-type: none;
}

.check-out-delivery-time-body{
    text-align: end;
}

.check-out-address{
    align-items: center;
    margin-right: 15px;
    padding-right: 15px;
}