.menu-search-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-header-left{
    display: inline-block; // This is what you're missing
    max-width: 10%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


#simple-popup{
  margin: auto;
  width: 50%;
  padding: 10px; 
  
}

.check-out-list{
    list-style-type: none;
}

.check-out-delivery-time-body{
    text-align: end;
}

.check-out-address{
    align-items: center;
    margin-right: 15px;
    padding-right: 15px;
}

.cart-modal{
    height: auto;
    overflow:auto;
    zoom: 80%;
    
}

#outlined-helperText{
    width: 300px;
    height: 100px;
}

.check-out-place-order{
    width: 200px; 
    left: 20%;
}

