
img{
  position: relative;
  border-radius: 15px;
  /* height: auto; */
}

.stepper-container{
  justify-items: center;
  margin:20px
}

.mobile-stepper{
  position: relative;
  background-color: transparent;
}